a,
a:active {
  color: #000;
  outline: none;
  font-weight: 100;
  font-size: 1.4rem;
  text-decoration: none;
  background-image: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  font-family: 'Nunito', sans-serif;
}

a:hover,
a:focus,
a:active,
a:visited {
  outline: 0;
  text-decoration: none;
  transition: all 0.4s;
}

hr {
  height: 2px;
  margin-top: .3rem;
  color: $black-color;
  border-top: 2px solid $gold-color;
}

ol,
ul {
  padding: 0;
  margin: 0;

  li {
    text-indent: 0;
  }

  li:before,
  li:after {
    content: none;
  }
}

main {
  width: calc(100% - 8rem);
  flex-direction: column;
  margin-left: 8rem;
  display: flex;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 4rem;
  flex: 1 0 auto;
}

hr::after {
  content: none;
}

button {
  outline: none;
  font-family: 'Nunito', sans-serif;
  border-bottom-left-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;

  &:hover,
  &:focus {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

input {
  border-bottom-left-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
}

table td,
table th,
table a {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Spartan', sans-serif !important;
}

.fa-sign-out-alt {
  color: red !important;
}

.isactive,
i.isactive {
  color: $gold-color !important;
  transition: color 0.2s ease-in-out;
}