$gold-color: #d79922;
$grey-color: #aba8a1;
$white-color: #ffffff;
$black-color: #1a1a1d;
$black-color2: #000000;
$off-white-color: #f7f9fb;
$off-white-color2: #feffff;
$dark-brown-color: #6c5633;
$dark-brown-color2: #42351c;