#auth-page {
  .auth-page {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    max-height: 100vh;
    border: 1px solid #eee;
    background-color: $off-white-color;

    &__controlBtns {
      width: 25%;
      height: auto;
      display: flex;
      margin: 0 auto;
      border: 1px solid #eee;
      margin-bottom: 2rem;
      border-radius: 3rem;
      justify-content: space-between;
      box-shadow: 0 0 .2rem .1rem rgba($dark-brown-color2, 0.2);
    }

    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .wrapper {
        width: 50%;
        height: 100%;
        //padding-top: 8rem;
        display: flex;
        max-height: 100%;
        overflow-y: scroll;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        form {
          width: 100%;
        }

        .orDivider {
          width: 50%;
          display: flex;
          margin: 0 auto;
          font-size: 1.4rem;
          align-items: center;
          margin-bottom: 1.5rem;
          text-transform: uppercase;

          hr {
            flex: auto;
            height: 2px;
            border: none;
            margin-bottom: 1rem;
            background: $dark-brown-color;
          }

          span {
            padding: 0 0.8rem;
            color: $dark-brown-color;
          }
        }

        .social-auth-links {
          display: flex;

          a {
            display: block;
            color: inherit;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 1rem;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      &-img {
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('https://picsum.photos/400/700');
      }
    }

    .form-group.pwdReset {
      padding: 1rem;
      width: 100%;

      a {
        text-transform: unset;
        text-decoration: underline;
        &:hover, &:focus{color: $gold-color;}
      }
    }
  }
}

.accountActivation {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba($black-color, 0.6), rgba($black-color2, .9)), url('https://picsum.photos/400/700');

  &__content {
    width: 90%;
    padding: 2rem;
    text-align: center;
    color: $off-white-color;

    h1 {
      color: $gold-color;
    }

    p {
      font-size: 2.5rem;
    }
  }
}