/*=================
===SHOPPING CART===
==================*/
#cart-page {
  .cart-table th,
  .cart-table td {
    font-weight: 300;
    font-family: 'Spartan', sans-serif !important;
  }

  .cart-table>tbody>tr>td {
    line-height: 1.5;
    font-size: 1.3rem;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .cart-table .cart-thumb {
    max-width: 14rem;
    min-height: 12rem;
  }

  .cart-table .p-qty {
    width: 5rem;
    padding: 1rem 0;
    text-align: center;
  }

  .cart-sidebar {
    width: 100%;
    height: 90%;
    max-height: 90%;
    padding: 0 1rem;
    border-radius: .8rem;
    color: $off-white-color2;
    background-color: $dark-brown-color;
  }

  .order-summary {
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    overflow-y: scroll;

    &__title {
      font-size: 2rem;
      padding-top: 2rem;
      font-weight: bold;
      text-align: center;
    }

    &__title+hr {
      margin: 0 auto;
      border-color: $off-white-color2;
    }

    &__list {
      padding: 3rem 0;
      list-style: none;

      &-item {
        width: 100%;
        height: 3rem;
        display: flex;
        margin: 2rem 0;
        line-height: 3rem;
        align-items: center;
        justify-content: space-between;

        &.coupon {
          margin-bottom: 4rem;

          input {
            width: 100%;
            padding: 1rem;
            color: #fff;
            font-size: 1.4rem;
            border-color: $off-white-color2;

            &::placeholder {
              color: inherit;
            }
          }
        }

        .title {
          width: 80%;
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        .amount {
          font-weight: bold;
          font-size: 1.8rem;
        }

        &.checkout-action {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;

          button {
            margin: .7rem 0;
          }
        }
      }
    }
  }
}