/*==================
===SINGLE PRODUCT===
===================*/
.single-product {
  width: 100%;
  display: flex;
  max-height: 100%;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;

  &-wrapper {
    width: 80%;
    height: 90vh;
    display: flex;
    max-height: 90vh;
    border-radius: 1rem;
    box-shadow: -1px 0px 8px 1px rgba(0, 0, 0, 0.28);

    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  &__image {
    width: 50%;
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      min-width: 100%;
      max-height: 100%;
    }
  }

  &__details {
    width: 50%;
    height: 100%;
    overflow-y: scroll;

    hr {
      margin: 1.2rem 0 1rem 0;
      opacity: .4;
      width: 10%;
    }

    .ratings {
      padding: 1rem 0;
      font-weight: 300;
      font-size: 1.2rem;
      margin-bottom: .2rem;
    }

    .subtitle {
      padding: 1.5rem 0;
      font-size: 1.2rem;
      color: $black-color;
      text-transform: uppercase;
    }

    .description {
      width: 100%;
      padding: 1rem 0;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }

    .price {
      font-size: 3rem;
      font-weight: 800;
    }

    .actions {
      width: 100%;
      display: flex;
      margin: 1.5rem 0;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.whiteBox {
  width: 100%;
  padding: 2rem;
  background-color: $white-color;
}

.offWhitebox {
  width: 100%;
  padding: 2rem;
  background-color: $off-white-color;
}

.reviews-box {
  height: 100%;
  display: flex;
  margin-top: 2rem;
  padding-top: 3rem;
  flex-direction: column;
  background-color: $off-white-color;

  &:first-child {
    border-top: none;
    padding-bottom: 0;
  }

  .review-list {
    list-style: none;

    &__item {
      padding: 2rem;
      border-bottom: 1px solid rgba($grey-color, 0.1);

      &:last-child {
        border-bottom: none;
      }
    }

    .review {
      &__name {
        font-weight: bold;
        font-size: 1.4rem;
      }

      &__description {
        padding-top: 1.5rem;
        font-weight: 300;
        line-height: 3rem;
      }
    }
  }
}